<html>
<head>
  <base href="http://doceon.github.com/">

  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Doc Eon - {{ page.title }}</title>
  <!-- 26 dec 2011 -->
  <meta name="author"  content="Doc Eon; http://doceon.github.com/" /> 
  <meta name="title" content="//rebase : Doc Eon: Figuring This Shit Out" /> 
  <meta name="description" content="oh god how do i do this i am not good at" /> 
  <meta name="keywords" content="" /> 
  <meta name="robots" content="all,follow" /> 
  <link rel="alternate" type="application/atom+xml" title="Atom Blog Feed" href="http://orta.github.com/blog.atom" />

  <link rel="stylesheet" href="http://orta.github.com/assets/fonts/stylesheet.css">
  <link rel="stylesheet" href="http://orta.github.com/assets/stylesheets/style.css">
  <link rel="stylesheet" href="http://orta.github.com/assets/stylesheets/syntax.css">
  <link rel="stylesheet" href="http://localhost:4000/assets/stylesheets/rebase.css">
  <link rel="stylesheet" href="http://orta.github.com/rebase/assets/stylesheets/rebase.css">

  <script src="http://orta.github.com/assets/javascripts/head.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5057919-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
    head.js("http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js");
    
  </script>
  
</head>
<body>
  <section id="sidebar">
    <a href="/"><IMG style="WIDTH: 150px; HEIGHT: 175px" height=100 src="http://doceon.github.com/assets/images/ken.jpg" width=75 border=0></a>
    <h2>new stuff</h2>
    {% for post in site.posts limit:6 %}
        <p><a href="{{ post.url }}">{{ post.title }}</a></p>
    {% endfor %}
    <h2><a href="http://doceon.github.com/archives">all stuff</a></h2>
    
  </section>
  
  {{content}}
  
</body>
</html>
