---
layout: default
---
<div id="post">
  {{ content }}
  <hr/>
  <div id="footer">
    <p>
      My name's Ken. I do English stuff and sometimes computer stuff. Rebase (this blogging software) was designed by <a href="http://orta.github.com">ortatherox</a>, who can be followed on twitter at <a href="http://twitter.com/orta">@orta</a>.
    </p>
  </div>
</div>



<script type="application/javascript">  
    head.ready( function() {
      
      $("a.inline").click(function(){
        
        // a mini lightbox
        var link = $(this);
        link.addClass("selected")
        $("body").append("<div id='background'> </div>")
        $("body").append("<div id='popover'> </div>")
        var img = new Image();
        
        $(img).load(function(){
          $("#popover").append(this)
          $("#popover, #background").click(function(){
            $("#popover, #background").remove()
            link.removeClass("selected")
          })
        })
        
        .attr('src',  $(this).attr("href"))
        .attr('id',  "quickimage");  
        
        var distance = link.hasClass("apple") ? 18 : 28
        $("#popover").css("top",  link.position().top + distance )
        return false;
       })        
      });
</script>